:root {
    --white-color: #f5f5f5;
    --black-color: #050505;
    --primary-color-light: #f4605a;
    --primary-color: #CC4742;
    --grey-color: #E3E3E3;
    --button-text-color: #ffffff;
    --link-hover-text-color: #585858;
}

html, body {
    color: var(--black-color, #000000);
    font-family: 'Poppins', sans-serif;
    scroll-padding-top: 4.5rem;
}

.header-font {
    font-family: 'Merriweather', serif;
}

.landing-section {
    max-height: 65vh;
    min-height: 65vh;
    background-image: url("/Assets/LandingImage.jpg");
    background-color: #CC4742;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-quote {
    max-height: 25vh;
    min-height: 25vh;
}

q {
    font-style: italic;
}

.testimony-image-cover {
    aspect-ratio: 1 / 1;
}

.testimony-image {
    width: 100%;
    height: 100%;
    aspect-ratio: inherit;
    object-fit: cover;
}

.certification-image {
    max-width: 200px;
}

/* Bootstrap Overrides */

    /* Navbar */

    .navbar {
        background-color: var(--white-color, #f5f5f5);
        min-height: 4.5rem;
    }

    ul.dropdown-menu.show {
        background-color: var(--white-color, #f5f5f5);
    }

    .dropdown-menu .dropdown-item:active {
        background-color: var(--primary-color, #CC4742);
    }

    .navbar-shadow {
        box-shadow: 0 -5px 5px 5px #888888;
    }
    
    .nav-link, .navbar-light .navbar-nav .nav-link {
        color: var(--black-color, black);
    }
    
    .nav-link:hover {
        color: var(--link-hover-text-color, #585858)
    }

    .navbar-light .navbar-toggler {
        border-color: rgba(0,0,0,0);
    }

    /* Buttons */

    .btn-primary {
        background-color: var(--primary-color, #CC4742);
        border-color: var(--primary-color, #CC4742);
        color: var(--button-text-color, #585858);
    }

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background-color: var(--primary-color-light, #f4605a);
        border-color: var(--primary-color-light, #f4605a);
    }

    /* Modal */

    .modal-header {
        padding: .5rem 1rem;
    }

    .modal-footer {
        padding: .25rem;
    }

/* Ebook Subscription */
    #ebook-signup {
        background-color: var(--grey-color, #E3E3E3);
        border-radius: 5px;
    }

/* Navbar */

    #logo {
        height: 3rem;
    }

/* Footer */

.footer-base {
    background-color: var(--white-color, #f5f5f5);
}